Code for upcoming article [Next Time I Will Use Pandas to Parse Html Tables](https://pybit.es/pandas-parse-html-table.html)

Using what I learned from: [Quick Tip: The easiest way to grab data out of a web page in Python](https://medium.com/@ageitgey/quick-tip-the-easiest-way-to-grab-data-out-of-a-web-page-in-python-7153cecfca58) which was great timing after last week's (bit painful) html scraping.

To run jupyter in a virtual env, follow [this](https://help.pythonanywhere.com/pages/IPythonNotebookVirtualenvs/)

In [1]:
import json

import pandas as pd

In [2]:
tables = pd.read_html("https://www.wholesalesolar.com/solar-information/how-to-save-energy/power-table", 
                      header=0)

In [4]:
df = tables[6]  # 7th table on page, this took some trial and error, you can probably filter
df.head()

,Appliance,Watts,Appliance.1,Watts.1,Appliance.2,Watts.2
0,Central Air Conditioner NA,5000,Electric blanket,200,Hedge trimmer,450
1,Electric Clothes Dryer NA,3400,Shaver,15,Weed eater,500
2,Oven,3000,Waterpik,100,1/4” drill,250
3,Hair Dryer,1538,Well Pump (1/3-1 HP),480-1200,1/2” drill,750
4,Dishwasher,1200-1500,Laptop,60-250,1” drill,1000

In [6]:
# needed to merge cols 1,3,5 and 2,4,6
# there is probably an easier way to do this
appliances = pd.concat([df['Appliance'], df['Appliance.1'], df['Appliance.2']], axis=0)
watts = pd.concat([df['Watts'], df['Watts.1'], df['Watts.2']], axis=0)
d = {'device': appliances, 'watts': watts}
df2 = pd.DataFrame(data=d).dropna()  # drop NaN values
df2.head()

                       device      watts
0  Central Air Conditioner NA       5000
1   Electric Clothes Dryer NA       3400
2                        Oven       3000
3                  Hair Dryer       1538
4                  Dishwasher  1200-1500

In [7]:
# you can also save it to json
appliances_json = df2.to_json(orient="records")

In [8]:
with open('data.txt', 'w') as outfile:
    json.dump(appliances_json, outfile)

In [9]:
# compared to original script I still need to average number-number entries, but using Pandas is much nicer overall

for row in df2.iterrows():
    s = row[1]
    print('{:<50} - {}'.format(s.device, s.watts))

Central Air Conditioner NA                         - 5000
Electric Clothes Dryer NA                          - 3400
Oven                                               - 3000
Hair Dryer                                         - 1538
Dishwasher                                         - 1200-1500
Coffee Machine                                     - 1500
Microwave                                          - 1500
Popcorn Popper                                     - 1400
Toaster oven                                       - 1200
Hot Plate                                          - 1200
Iron                                               - 1100
Toaster                                            - 1100
Microwave                                          - 500-1500
Room Air Conditioner NA                            - 1100
Vacuum Cleaner                                     - 500
Water heater                                       - 479
Sink Waste Disposal                                - 450
Espresso Machine                                   - 360
Dehumidifier                                       - 350
Blender                                            - 300
Humidifier                                         - 300-1000
Video Game Player                                  - 195
Standard TV                                        - 188
LCD Monitor                                        - 80-150
Desktop Computer (Standard home/business)          - 80-120
Desktop Computer (Gaming)                          - 400-1000+
Laptop Computer                                    - 40-120
Portable Fan                                       - 100
Ceiling Fan                                        - 100
Can Opener                                         - 100
Curling Iron                                       - 90
Stereo                                             - 60
Cable Box                                          - 20
Clock Radio                                        - 7
Electric blanket                                   - 200
Shaver                                             - 15
Waterpik                                           - 100
Well Pump (1/3-1 HP)                               - 480-1200
Laptop                                             - 60-250
Plasma TV                                          - 339
LCD TV                                             - 213
25” color TV                                       - 150
19” color TV                                       - 70
12” black and white TV                             - 20
Stereo                                             - 10-30
Satellite dish                                     - 30
Radiotelephone - Receive                           - 5
Radiotelephone - Transmit                          - 40-150
100 watt incandescent bulb                         - 100
25 watt compact fluor. bulb                        - 28
50 watt DC incandescent                            - 50
40 watt DC halogen                                 - 40
20 watt DC compact fluor.                          - 22
CFL Bulb (60-watt equivalent)                      - 18
CFL Bulb (40-watt equivalent)                      - 11
CFL Bulb (75-watt equivalent)                      - 20
CFL Bulb (100-watt equivalent)                     - 30
Engine Block Heater NA                             - 150-1000
Portable Heater NA                                 - 1500
Waterbed Heater NA                                 - 400
Stock Tank Heater NA                               - 100
Furnace Blower                                     - 300-1000
Clothes Dryer - Gas Heated                         - 300-400
Well Pump (1/3-1HP)                                - 480-1200
Hedge trimmer                                      - 450
Weed eater                                         - 500
1/4” drill                                         - 250
1/2” drill                                         - 750
1” drill                                           - 1000
9” disc sander                                     - 1200
3” belt sander                                     - 1000
12” chain saw                                      - 1100
14” band saw                                       - 1100
7-1/4” circular saw                                - 900
8-1/4” circular saw                                - 1400
20 cu. ft. (AC)                                    - 1411 watt-hours/day*
16 cu. ft. (AC)                                    - 1200 watt-hours /day*
15 cu. ft. (Upright)                               - 1240 watt-hours /day*
15 cu. ft. (Chest)                                 - 1080 watt-hours /day*
Cell Phone - recharge                              - 2-4 watts
MP3 Player - recharge                              - .25-.40 watts